<!-- Start footer -->
<footer class="digitalofficy_footer">
    <div class="widget_wrapper" style="background-image: url(/assets/images/footer_bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="widget widegt_about mb-md-4 mb-lg-0">
                        <div class="widget_title">
                            <img src="{{site.site_logo_big}}" class="img-fluid" alt="{{site.title}}"/>
                        </div>
                        <ul class="social">
                            {% if site.linkedin_url %}
                            <li><a href="{{site.linkedin_url}}" target="__blank"><i class="fab fa-linkedin"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="widget widget_link">
                        <div class="widget_title">
                            <h4>Hashtack</h4>
                        </div>
                        <ul>
                            <li><a href="about">About</a></li>
                            <li><a href="services">Services</a></li>
                            <li><a href="work">Our work</a></li>
                            <li><a href="contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="widget widget_contact">
                        <div class="widget_title">
                            <h4>Drop us a line</h4>
                        </div>
                        <div class="contact_info">
                            <div class="single_info">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="info">
                                    <p><a href="mailto:info@hashtack.dev">info@hashtack.dev</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <p>Copyright &copy; 2022 <span>Hashtack</span>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->
