<!-- Start digitalofficy_cta section -->
<section class="digitalofficy_cta">
    <div class="container">
        <div class="cta_wrapper">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="cta_content">
                        <h3>Build it with Hashtack</h3>
                        <p>Is software important to your business?</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="button_box">
                        <a href="contact" class="digitalofficy_btn">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End digitalofficy_cta section -->