<!-- Start digitalofficy_experience section -->
<section class="digitalofficy_experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center">
                    <h2>Agile software development process</h2>
                    <p>Designed for remote cooperations</p>
                </div>
            </div>
        </div>
        <div class="single_experience">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5">
                    <div class="digitalofficy_text_box">
                        <p>When software is important to your business, you cannot trust to chance. Reliability is everything and proven processes with right methodology are key to success. At Hashtack, we follow our custom development process which gives our teams a proven way to deliver IT projects within agreed metrics. Both business and technical.</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="icon text-center">
                        <h3>1.</h3>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="digitalofficy_info_box">
                        <h4>Predictable</h4>
                        <!-- <h5>john abraham</h5> -->
                        <h6>Budget & time control, project planning, executives report.</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_experience">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5">
                    <div class="digitalofficy_info_box">
                        <h4>Iterative</h4>
                        <!-- <h5>john abraham</h5> -->
                        <h6>To improve the quality of a product and optimize costs.</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="icon text-center">
                        <h3>2.</h3>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="digitalofficy_text_box">
                        <p>Adapt to change and stay on the track at the same time. Iterations give us the flexibility to easily adapt to change and incorporate new ideas into the development plan. Issues are identified and resolved during iterations. Business risk is managed through small releases that are verified by the clients every two weeks. An iterative approach allows for creating better solutions since we can quickly evaluate the solution and adjust if needed.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_experience">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5">
                    <div class="digitalofficy_text_box">
                        <p>All of our proyects come to life by applying a variaty of techniques and technologies that guarantee its success. Project planning & control, Standards & processes, Testing Levels, CI/CD, Code reviews, Automated tests, Code quality, Cloud solutions</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="icon text-center">
                        <h3>3.</h3>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="digitalofficy_info_box">
                        <h4>Quality-driven</h4>
                        <!-- <h5>john abraham</h5> -->
                        <h6>To make technology your competitive advantage</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_experience">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5">
                    <div class="digitalofficy_info_box">
                        <h4>Scalable</h4>
                        <!-- <h5>john abraham</h5> -->
                        <h6>To speed up quickly whenever you need it.</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="icon text-center">
                        <h3>4.</h3>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="digitalofficy_text_box">
                        <p>If you're a software company, development efficiency is crucial for you. Sometimes you need to make things happen really fast. At the same time, scaling up without sacrificing quality is a challenge. We get it. And we have it covered. With Hashtack Approach, you can easily scale up the team, development velocity and the software itself.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_experience">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5">
                    <div class="digitalofficy_text_box">
                        <p>No matter what, you can't create an amazing software product without close cooperation between the Product Owner and the development team. That means you can expect full transparency in the project. As a Product Owner, you are always updated about the status of the development and have full control over the product. We invite you to use our tools & channels, development environments and whatever we need to ship the product successfully. Together.</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="icon text-center">
                        <h3>5.</h3>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="digitalofficy_info_box">
                        <h4>Cooperative</h4>
                        <!-- <h5>john abraham</h5> -->
                        <h6>To make you feel like we worked as your in-house team.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End digitalofficy_experience section -->
