<!-- Start digitalofficy_service section -->
<section class="service_wrapper section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="service_tab_wrap">
                    <div class="service_tab_nav">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#strategy"><span>Custom Software Development</span></a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#web"><span>Digital Product Design</span></a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#development"><span>Agile Development Teams</span></a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#app"><span>Cloud and Engineering DevOps</span></a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#marketing"><span>Mobile Development</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="strategy" class="tab-pane active">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="digitalofficy_content_box">
                                        <h2>One scalable team for start-to-finish development</h2>
                                        <p>What does it mean to be reliable? It means your outsourced team works as well as your web developers do. Our team made APIs, custom web applications, hybrid mobile app development, provided web design services, updated stacks, and build cloud-native systems.</p>
                                        <p>One place — everyone you need: Business Analysts, Product Designers, Project Managers, QA Engineers, DevOps, and Full-stack developers. Expect our web development team to be proactive throughout the project with an abundance of improvement suggestions that will get business moving even in areas such as search engine optimization.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="digitalofficy_img_box">
                                        <img src="../assets/images/services/02.jpg" class="img-fluid" alt="Strategy & Research"/>
                                    </div>
                                </div>
                            </div>
                      </div>
                        <div id="web" class="tab-pane fade">
                              <div class="row align-items-center">
                                  <div class="col-lg-6">
                                      <div class="digitalofficy_content_box">
                                          <h2>Digital Product Design</h2>
                                          <p>A 5 Stage Process to Better Product Design.</p>
                                          <p>At its core, design thinking is a problem-solving methodology that, first and foremost, focuses on the user’s needs rather than the product’s specifications. Teams that fuse design thinking into their design process can develop better, user-centered products</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="digitalofficy_img_box">
                                          <img src="../assets/images/services/01.jpg" class="img-fluid" alt="Web Solution"/>
                                      </div>
                                  </div>
                              </div>
                        </div>
                        <div id="development" class="tab-pane fade">
                              <div class="row align-items-center">
                                  <div class="col-lg-6">
                                      <div class="digitalofficy_content_box">
                                          <h2>Agile Development Teams</h2>
                                          <p>Don’t be limited to a local market that fights for top-level software development teams with corporations (like Google or Facebook).</p>
                                          <p>Using Slack, Skype, or Github? They’re all powered by external Agile teams or Scrum teams under Scrum Master, who try harder, are always present to act, and bring in rad enthusiasm to the software development process.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="digitalofficy_img_box">
                                          <img src="../assets/images/services/03.jpg" class="img-fluid" alt="Web Development"/>
                                      </div>
                                  </div>
                              </div>
                        </div>
                        <div id="app" class="tab-pane fade">
                              <div class="row align-items-center">
                                  <div class="col-lg-6">
                                      <div class="digitalofficy_content_box">
                                          <h2>Cloud and Engineering DevOps</h2>
                                          <p>Together, we will establish an optimal cloud computing workflow that helps you cut down cloud spending, automate infrastructure monitoring, and increase architectural flexibility.</p>
                                          <p>Using cloud based development resources to build and scale your app requires a rare skill set and an even more rare mentality. You need the sharpest knowledge from the worlds of cloud software development and infrastructure. That’s a lot to handle.</p>
                                          <p>Your DevOps and other cloud developers can learn by experimenting with cloud environment if there’s time and money. Or you can jump-start your cloud development in weeks (not months) with our team rich in cross-industry cloud development experience.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="digitalofficy_img_box">
                                          <img src="../assets/images/services/04.jpg" class="img-fluid" alt="App Design"/>
                                      </div>
                                  </div>
                              </div>
                        </div>
                        <div id="marketing" class="tab-pane fade">
                              <div class="row align-items-center">
                                  <div class="col-lg-6">
                                      <div class="digitalofficy_content_box">
                                          <h2>Mobile Development</h2>
                                          <p>Start-to-finish mobile development services</p>
                                          <p>Mobile development services used to be quite straightforward – you had native iOS and Android platforms and that’s just about it. Today, you can approach mobile app development from various angles.</p>
                                          <p>You can use classic web technologies such as CSS or JS to make hybrid apps. These are quite fast to develop and work the same everywhere, but they may be lacking compared to native apps in terms of performance. React Native mobile apps have most of their pros.</p>
                                          <p>You will achieve the best results by employing all of these experts together. They will all contribute to your success with React Native mobile development.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="digitalofficy_img_box">
                                          <img src="../assets/images/services/05.jpg" class="img-fluid" alt="Digital Marketing"/>
                                      </div>
                                  </div>
                              </div>
                        </div>
                        <div id="analysis" class="tab-pane fade">
                              <div class="row align-items-center">
                                  <div class="col-lg-6">
                                      <div class="digitalofficy_content_box">
                                          <h2>Blockchain Development</h2>
                                          <p>It is usual to be confused by all the hype in the Crypto ecosystem. Whether is designing a new protocol, writing a smart contract or coming with the perfect set of NFTs, our experts can help.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="digitalofficy_img_box">
                                          <img src="../assets/images/services/06.jpg" class="img-fluid" alt="Business Analysis"/>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </div>
                    <!-- tab pane -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End digitalofficy_service section -->
