<!-- Start digitalofficy_banner section -->
<section class="digitalofficy_banner banner_v1">
    <div class="container">
        <div class="hero_slider">
            <div class="signle_slider">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner_content wow fadeInLeft">
                            <h1>We help you<br>making your product and team<br><span>a success.</span></h1>
                            <h5 style="margin-top: 23px;">Great products need close attention.</h5>
                            <h5>We deliver both.</h5>
                            <a href="contact" style="margin-top: 23px;" class="digitalofficy_btn big">Let's talk</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="digitalofficy_img_box wow fadeInRight">
                            <img src="/assets/images/software-developers.jpg" class="img-fluid" alt="slider two"/>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </div>
</section>
<!-- End digitalofficy_banner section-->
